@tailwind base;
@tailwind components;
@tailwind utilities;

  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100%;
  height: 100vh;
}

.sidebar {
  border: solid black 1px;
  padding: 16px 0;
}

.sidebar-item {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(151, 145, 145);
  height: 40px;
  margin-bottom: 8px;
  cursor: pointer;
}

@layer base {
  h1 {
    @apply text-4xl font-bold md:text-5xl;
  }

  h2 {
    @apply text-3xl font-bold md:text-4xl;
  }

  h3 {
    @apply text-2xl font-bold md:text-3xl;
  }

  h4 {
    @apply text-xl font-bold;
  }

  h5 {
    @apply text-lg font-bold;
  }

  .wrapper {
    @apply mx-auto w-full p-6 sm:p-8;
    max-width: 48rem;
  }
}
